<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN" "
http://ibatis.apache.org/dtd/sql-map-2.dtd">
<sqlMap namespace="GenericSql">

    <statement id="SelectObjectVOSql" parameterClass="java.util.HashMap"
               resultClass="java.util.HashMap" remapResults="true">
        select
        <isNotEmpty property="sqlvalue">
            $sqlvalue$
        </isNotEmpty>
        from
        <isNotEmpty property="sqltablename">
            $sqltablename$
        </isNotEmpty>
        <dynamic prepend="where">
            <isNotNull property="sqlwhere">
                <iterate prepend=" " property="sqlwhere" conjunction=",">
                    $sqlwhere[].key$ = #sqlwhere[].value#
                </iterate>
            </isNotNull>
        </dynamic>
    </statement>
</sqlMap>