<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shihui.dao.CourseMapper">
    <sql id="course_columns">
      id,name
    </sql>

    <cache/>

    <select id="queryById" parameterType="int" resultType="Course">
        SELECT
        <include refid="course_columns"/>
        FROM course WHERE id=#{id}
    </select>
</mapper>